.root {
  display: inline-block;
  font-weight: var(--pill-font-weight, 500);
  cursor: pointer;
  text-wrap: nowrap;
  flex-shrink: 0;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;

  &-primary {
    background-color: var(--pill-bg-primary);
    color: var(--pill-color-primary);
    &:hover {
      background-color: var(--pill-bg-primary-hover);
      color: var(--pill-color-primary-hover);
    }
  }

  &-secondary {
    background-color: var(--pill-bg-secondary);
    color: var(--pill-color-secondary);
    &:hover {
      background-color: var(--pill-bg-secondary-hover);
      color: var(--pill-color-secondary-hover);
    }
  }

  &-success {
    background-color: var(--pill-bg-success);
    color: var(--pill-color-success);
    &:hover {
      background-color: var(--pill-bg-success-hover);
      color: var(--pill-color-success-hover);
    }
  }

  &-danger {
    background-color: var(--pill-bg-danger);
    color: var(--pill-color-danger);
    &:hover {
      background-color: var(--pill-bg-danger-hover);
      color: var(--pill-color-danger-hover);
    }
  }

  &-warning {
    background-color: var(--pill-bg-warning);
    color: var(--pill-color-warning);
    &:hover {
      background-color: var(--pill-bg-warning-hover);
      color: var(--pill-color-warning-hover);
    }
  }

  &-info {
    background-color: var(--pill-bg-info);
    color: var(--pill-color-info);
    &:hover {
      background-color: var(--pill-bg-info-hover);
      color: var(--pill-color-info-hover);
    }
  }

  &-light {
    background-color: var(--pill-bg-light);
    color: var(--pill-color-light);
    &:hover {
      background-color: var(--pill-bg-light-hover);
      color: var(--pill-color-light-hover);
    }
  }

  &-dark {
    background-color: var(--pill-bg-dark);
    color: var(--pill-color-dark);
    &:hover {
      background-color: var(--pill-bg-dark-hover);
      color: var(--pill-color-dark-hover);
    }
  }
  &-sm {
    font-size: var(--pill-font-size-sm, 0.75rem);
    padding: var(--pill-padding-sm, 0.25rem 0.5rem);
  }
  &-md {
    font-size: var(--pill-font-size-md, 0.875rem);
    padding: var(--pill-padding-md, 0.3rem 0.75rem);
  }

  &-lg {
    font-size: var(--pill-font-size-lg, 1rem);
    padding: var(--pill-padding-lg, 0.5rem 1rem);
  }
  &-rounded-sm {
    border-radius: var(--pill-rounded-sm, 0.2rem);
  }
  &-rounded-md {
    border-radius: var(--pill-rounded-md, 0.25rem);
  }
  &-rounded-lg {
    border-radius: var(--pill-rounded-lg, 0.3rem);
  }
  &-rounded-full {
    border-radius: var(--pill-rounded-full, 9999px);
  }
}
