.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  .label {
    margin-bottom: 4px;
    font-weight: bold;
  }

  .fileInput {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
  }
}
