.listContainer {
  width: fit-content;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.innerItem {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
}

.nestedList {
  list-style: none;
  padding-left: 4rem;
}
