$label-gap: calc(
  (var(--whs-input-label-height, 20px) + var(--whs-input-gap, 0.5rem)) * -1
);
$top-icon: calc(
  50% + 0.5 * var(--whs-input-label-height, 20px) + 0.5 *
    var(--whs-input-gap, 0.5rem)
);
$top-icon-with-helper: calc(
  50% - 0.5 * var(--whs-input-helper-text-height, 20px) + 0.5 *
    var(--whs-input-label-height, 20px)
);

.inputWrapper {
  --whs-input-border: 1px solid #757b8c;
  --whs-input-border-hover: 1px solid #757b8c;
  --whs-input-border-focus: 1px solid #757b8c;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--whs-input-gap, 0.5rem);

  &:has(.error) {
    & .label {
      color: var(--whs-input-label-color-error, #ff0000);
    }
  }
}
.label {
  height: var(--whs-input-label-height, 20px);
  display: flex;
  align-items: center;
  gap: var(--whs-input-label-gap, 0.5rem);
  font-weight: bold;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  transform-origin: left;

  color: var(--whs-input-label-color, #757b8c);
  font-family: var(--whs-input-label-font-family, "Arial");
  font-size: var(--whs-input-label-font-size, 16px);
  font-style: var(--whs-input-label-font-style, normal);
  font-weight: var(--whs-input-label-font-weight, normal);
  line-height: var(--whs-input-label-line-height, 1.5);
  letter-spacing: var(--whs-input-label-letter-spacing, 0.5px);
}

.input {
  color: var(--whs-input-color, #757b8c);
  font-family: var(--whs-input-font-family, "Arial");
  font-size: var(--whs-input-font-size, 16px);
  font-style: var(--whs-input-font-style, normal);
  font-weight: var(--whs-input-font-weight, normal);
  line-height: var(--whs-input-line-height, 1.5);
  letter-spacing: var(--whs-input-letter-spacing, 0.5px);
  background: var(--whs-input-bg);

  height: var(--whs-input-height, 30px);
  padding: var(--whs-input-padding, 0.5rem 2rem);
  border: var(--whs-input-border);
  border-radius: var(--whs-input-border-radius, 4px);
  outline: var(--whs-input-outline);
  transition: all 0.3s ease-in-out;

  &::placeholder {
    user-select: none;
    color: var(--whs-input-placeholder-color, #757b8c);
    font-family: var(--whs-input-placeholder-font-family, "Arial");
    font-size: var(--whs-input-placeholder-font-size, 16px);
    font-style: var(--whs-input-placeholder-font-style, normal);
    font-weight: var(--whs-input-placeholder-font-weight, normal);
    line-height: var(--whs-input-placeholder-line-height, 1.5);
    letter-spacing: var(--whs-input-placeholder-letter-spacing, 0.5px);
  }

  &:focus {
    border: var(--whs-input-border-focus);
    background-color: var(--whs-input-bg-focus);
    color: var(--whs-input-color-focus);
  }

  &:hover {
    border: var(--whs-input-border-hover);
    background-color: var(--whs-input-bg-hover);
    color: var(--whs-input-color-hover);
  }
}
.error {
  border: var(--whs-input-border-error, 1px solid #ff0000);
  background-color: var(--whs-input-bg-error);
  color: var(--whs-input-color-error, #ff0000);

  &::placeholder {
    color: var(--whs-input-placeholder-color-error, #ff0000);
  }

  &:hover {
    border: var(--whs-input-border-error-hover, 1px solid #ff0000);
    background-color: var(--whs-input-bg-error-hover);
    color: var(--whs-input-color-error-hover, #ff0000);
  }
  &:focus {
    border: var(--whs-input-border-error-focus, 1px solid #ff0000);
    background-color: var(--whs-input-bg-error-focus);
    color: var(--whs-input-color-error-focus, #ff0000);
  }
}

.errorMessage {
  height: var(--whs-input-error-text-height, 20px);
  font-size: var(--whs-input-error-text-font-size, 14px);
  color: var(--whs-input-error-text-color, #ff0000);
  font-family: var(--whs-input-error-text-font-family, "Arial");
  font-style: var(--whs-input-error-text-font-style, normal);
  font-weight: var(--whs-input-error-text-font-weight, normal);
  line-height: var(--whs-input-error-text-line-height, 1.5);
}

.startIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(8px + 0.5 * var(--whs-input-padding, 0.5rem));
  top: $top-icon;
  transform: translateY(-50%);
  &:has(~ .helperText) {
    top: $top-icon-with-helper;
  }
  &:has(~ .errorMessage) {
    top: $top-icon-with-helper;
  }
}
.endIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: calc(8px + 0.5 * var(--whs-input-padding, 0.5rem));
  top: $top-icon;
  transform: translateY(-50%);
  &:has(~ .helperText) {
    top: $top-icon-with-helper;
  }
  &:has(~ .errorMessage) {
    top: $top-icon-with-helper;
  }
}

.helperText {
  height: var(--whs-input-helper-text-height, 20px);
  font-size: var(--whs-input-helper-text-font-size, 14px);
  color: var(--whs-input-helper-text-color, #757b8c);
  font-family: var(--whs-input-helper-text-font-family, "Arial");
  font-style: var(--whs-input-helper-text-font-style, normal);
  font-weight: var(--whs-input-helper-text-font-weight, normal);
  line-height: var(--whs-input-helper-text-line-height, 1.5);
}
.fullWidth {
  width: 100%;
}
